.content-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1a3139;
}

.content-page__title {
  margin-top: 60px;
}

.content-page__body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
}
