.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1a3139;
}

.home__title {
  margin-top: 60px;
}

.home__text {
  min-width: 300px;
  max-width: 500px;
}
