.main__header {
    text-align: center;
  }
  
  .main__title {
    margin-top: 140px;
  }
  
  .main__image-wrapper {
    height: 375px;
  }
  
  .main__image {
    width: 250px;
  }
  
  .main__arrow-wrapper {
    display: block;
    margin-top: 70px;
    font-size: 40px;
  }
  