.navigation {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navigation__icon {
  width: 20px;
  cursor: pointer;
}

.navigation__menu {
  display: flex;
  justify-content: space-evenly;
  min-width: 260px;
  width: 350px;
}

.navigation__item {
  font-weight: 800;
  /* text-decoration: none; */
}
