.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1a3139;
  min-height: 100vh;
}

.content-page__title {
  padding-top: 80px;
}

.content-page__body {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  line-height: 1.75;
  text-align: center;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: #1a3139;
}

.link:hover {
  background-color: #1a313917;
  color: #551a8b;
}
